<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    ngx-svg <small class="extra-small"><i>v0.2.3</i></small>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/rect">Rect</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/circle">Circle</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/ellipse">Ellipse</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/line">Line</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/polyline">Polyline</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/polygon">Polygon</a>
      </li>
    </ul>
    <a class="btn btn-dark" href="https://github.com/vvaldersteins/ngx-svg" target="_blank"><i class="fa fa-github"></i> GitHub</a>
    <a class="btn btn-dark" href="https://www.npmjs.com/package/ngx-svg" target="_blank"><i class="fa fa-npm"></i> NPM</a>
  </div>
</nav>