<div [id]="containerId" class="svg-container" [class.svg-grid]="showGrid" (mousemove)="mouseInContainer = true"
  (mousemove)="adjustPointPosition($event); adjustMouseMovePosition($event);" (mouseenter)="mouseInContainer = true; mouseOverEvent.emit($event);"
  (mouseleave)="mouseInContainer = false; mouseOutEvent.emit($event);">
  <div class="svg-hover-point" (dblclick)="onPointDoubleClick()" (click)="onPointClick()" (mousemove)="onPointHover();" [style.width.px]="pointSize" [style.height.px]="pointSize"
    *ngIf="hoverable && mouseInContainer" [style.left.px]="pointXCoordinate" [style.top.px]="pointYCoordinate"></div>
  <ng-content></ng-content>
</div>