<!-- Header of the rectangular -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Rectangular</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-12">
      <!-- Svg Container with rectangulars -->
      <svg-container containerId="rectangular">
        <svg-rect [height]="rectangular.height" [width]="rectangular.width" [color]="rectangular.color"
          [x]="rectangular.x" [y]="rectangular.y" *ngFor="let rectangular of rectangulars"></svg-rect>
      </svg-container>
    </div>

    <div class="col-12">
      <!-- Svg Rect configuration -->
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Height</th>
              <th>Width</th>
              <th>Color</th>
              <th>X position</th>
              <th>Y position</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="rectangulars.length > 0">
              <tr *ngFor="let rectangular of rectangulars; let index = index;">
                <td class="align-middle">
                  <b>{{ index + 1 }}</b>
                </td>
                <td>
                  <input type="number" [(ngModel)]="rectangular.height" class="form-control" />
                </td>
                <td>
                  <input type="number" [(ngModel)]="rectangular.width" class="form-control" />
                </td>
                <td>
                  <input type="string" [(ngModel)]="rectangular.color" class="form-control" />
                </td>
                <td>
                  <input type="number" [(ngModel)]="rectangular.x" class="form-control" />
                </td>
                <td>
                  <input type="number" [(ngModel)]="rectangular.y" class="form-control" />
                </td>
                <td>
                  <button class="btn btn-danger" (click)="removeRow(index)">Remove</button>
                </td>
              </tr>
            </ng-container>
            <tr *ngIf="rectangulars.length === 0">
              <td colspan="7" class="text-center">
                There are no rectangulars
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <button class="btn btn-success float-right" (click)="addNew()">Add New Rectangular</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>